.scritta-bianca{
  color: #fff;
}

/*---navbar---*/

.mio-contenitore-nav{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
}


.myTitoloNav{
  max-width: 260px;
  height: auto;
  margin-top: 5px;
}

.navbar-brand{
  padding: 0px;
}

/*---contenitore foto---*/

.my-portrait{
  width: 35%;
  height: auto;
  margin: 1% auto;
  /*
  border: 1px solid grey;

  background-color: lightgrey;
  box-shadow: 2px 3px;
  */

  background-image: url("foto/background_riepilogo.jpg") !important;
  border-color: 25px solid #000;
  border-radius: 8px;
  margin-top: 75px;

}

.my-spazio-foto{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.my-principali-info-account{
  height: 90%;
  margin: 1%;
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;

}

.my-spazio-foto{
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.my-spazio-foto img{
  max-width: 100%;
  max-height: 100%;
  box-shadow: 2px 3px;
}

.my-figlio-info p{
  margin: 0 0 0px;
}

.my-figlio-info-left{
  text-align: left;
}

.my-modifica{
  width: 30%;
  background-color: lightgrey;
  border-color: grey;
  color: black;
}

.my-modifica:visited,
.my-modifica:focus,
.my-modifica:active{
  width: 30%;
  background-color: lightgrey;
  border-color: grey;
  color: black;
}


/*---popover---*/


.my-contenitore-pop-modifica{
  margin: 1%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.btn-modifica-contenitore {
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
  margin-bottom: 5px;
}

.my-portrait>h1{
  text-align: center;
}



.my-line-pop-modifica{
  width: 100%;
  margin: 1px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.my-label-pop-modifica{
  width: 45%;
  float: left;
}

.my-form-pop-modifica{
  width: 45%;
  float: right;
}

.my-last-line-pop-modifica{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.my-form-popover-pulsante{
  width: 70%;
}

/*---gestione tipo account---*/

/*---decommentare per cliente----*/
.my-only-fornitore{
  display: none;
}

.my-only-cliente{

}


/*---decommentare per fornitore----
.my-only-fornitore{

}

.my-only-cliente{
  display: none;
}
*/


@media screen and (min-width: 768px) { /*desktop*/

  .my-portrait{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }



}

@media screen and (max-width: 768px) { /*smartphone*/

  .my-portrait{
      width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }


  .my-principali-info-fornitore{
    margin: 15px auto;
  }

  .my-modifica{
    width: 50%;
    text-align: center;
  }

  .my-modifica:visited,
  .my-modifica:focus,
  .my-modifica:active{
    width: 50%;
  }


}


@media screen and (max-width: 500px) {
  .my-portrait{
      width: 60%;
  }
}
