ul{
  -webkit-padding-start: 0px;
}


.my-usr-f2{
  display: none;
}

.scritta-bianca{
  color: #fff;
}

.myOggettoNav{
  max-width: 40px;
  height: auto;
  margin-top: 5px;
}

.navbar-brand{
  padding: 0px;
}

.myTitoloNav{
  max-width: 260px;
  height: auto;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.mio-contenitore-nav{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 5%;
}

.my-elemento-destro-navbar{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.my-barra-ricerca-superiore-cont{
  max-width: 80%;
}

.my-carrello{
  max-width: 20%;
}

.my-barra-ricerca-superiore{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.my-barra-ricerca-superiore-form{
  max-width: 60%;
}

.my-barra-ricerca-superiore-bott{
  max-width: 40%;
}

.my-elemento-navbar{
  width: 30%;
}

.my-contenitore-dropdown{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}







/*---nel carrello contenitore---*/

.my-contenitore-corpo-vero{
  margin-top: 70px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.my-contenitore-esterno-riepilogo > h4{
  margin-top: 1%;
}

.my-contenitore-esterno-riepilogo{
  width: 80%;
  margin: 1% auto;
  /*
  border: 1% solid grey;
  background-color: lightgrey;
  box-shadow: 2px 3px;
  */
  background-color: none !important;
  background-image: url("foto/background_riepilogo.jpg") !important;
  border-color: 25px solid #000;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.my-nome-ristorante-riferimento{
  width: 80%;
  margin: 1% auto;
  text-align: left;
}

.my-presentazione-carrello{
  width: 80%;
  margin: 1% auto;
  text-align: left;
}

.my-info-spedizione{
  width: 80%;
  margin: 1% auto;
  text-align: left;
}

.my-contenitore-riepilogo{
  height: 150px;
  overflow-y: scroll;
  width: 80%;
  margin: 1% auto;
  border: 1% solid grey;
  background-color: #fff;


  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

}

.my-contenitore-line-riepilogo{
  margin: 1% auto;
  width: 90%;
  min-height: 35px;
  text-align: center;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.my-specifico-alimento{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.my-contenitore-line-riepilogo:hover{
  background-color: lightblue;
}

button.btn.btn-default.dropdown-toggle.my-contenitore-dropdown {
    background-color: transparent;
    border: none;
}


/*---navbar bottom---*/
.mio-contenitore-nav-bottom{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 5%;
}



/*---media query---*/

@media screen and (min-width: 500px) { /*desktop*/

  .elem-bottom-nav{
    margin-top: 5px;
  }

  .elem-bottom-nav > p {
    margin-top: 5px;
  }



}

@media screen and (max-width: 500px) { /*smartphone & tablet*/

  .elem-bottom-nav{
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
  }

  .elem-bottom-nav > p {
    margin-top: 1%;
  }

  .mio-contenitore-nav-bottom{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 5%;
  }



}
