/*cookie*/
.cookie_message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid #bee5eb;
    background: rgb(0, 45, 65);
    padding: 2vh;
    font-size: 3vw;
    color: black;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    z-index: 1001;
}

.cookie_message a {
    color: rgb(209, 209, 209);
    text-decoration: underline;
}

.cookie_message #cookie_accept {
    cursor: pointer;
    border-radius: 4px;
    height: 6vh;
    font-weight: 450;
    color: rgb(209, 209, 209);
    background-color: #006089;
    letter-spacing: 1px;
}

.cookie_message {
    color: white !important;
}

#cookie_accept:hover, .cookie_message a:hover {
    color: rgb(255, 255, 255);
}

.cookie_message {
    font-size: 2vw;
}

/*Main COntent*/
.categorie-list {
    border: 0;
    padding:inherit;
    display: inline;
    background: none;
    text-decoration: underline;
    color: blue;
}
.categorie-list:hover {
    cursor: pointer;
}

.myOggettoNav{
  max-width: 40px;
  height: auto;
  margin-top: 5px;
}

.navbar-brand{
  padding: 0px;
}

.my-fase2-btn-delcara{
  background-color: none !important;
  background-image: url("foto/background-rettangolo.png") !important;
  border-color: #fff;
}


.myTitoloNav{
  max-width: 260px;
  height: auto;
  margin-top: 5px;
}

.mio-contenitore-nav{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 5%;
}


.my-elemento-destro-navbar{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.my-barra-ricerca-superiore-cont{
  max-width: 80%;
}

.my-carrello{
  max-width: 20%;
}

.my-barra-ricerca-superiore{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.my-barra-ricerca-superiore-form{
  max-width: 60%;
}

.my-barra-ricerca-superiore-bott{
  max-width: 40%;
}

.my-elemento-navbar{
  width: 30%;
}

.my-contenitore-dropdown{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
/*----mio piatto----*/

.mio-corpo{
  margin-top: 50px;
}

.my-foto-piatto{
  min-height: 300px;
  background-size: cover;
  background-position: center center;
}


.my-vecchio-prezzo > p {
  text-decoration: line-through;
}

.my-contenitore-info-numeriche-piatto{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.my-contenitore-info-numeriche-piatto > .my-figlio-info {
  width: 50%;
  box-sizing: border-box;
}

.my-contenitore-descrizione-piatto{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.my-nav-portabottone .btn-default {
    background-color: transparent;
}

.my-nav-portabottone .btn-default:hover {
    background-color: transparent;
}


.my-nav-portabottone .btn {
    border: none;
}



/*---seconda parte---*/

.my-contenitore-fornitori{
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-contenitore-suggeriti{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.my-contenitore-negozio{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-image: url("foto/background-rettangolo.png");
  min-height: 120px;
}

.my-info-fornitore{
  color: #fff;
}



.my-stile-contenitore-negozio{
  height: auto;
  max-height: 120px;
  margin: 1%;
  border-style: ridge;
  border-color: #fff;
}



.my-foto-fornitore{
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-foto-fornitore > img{
  max-width: 170px;

  max-height: 100%;
  height:auto;
}



.my-contenitore-info-fornitore{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  text-align: right;
  padding-right: 2%;
}

/*----barra ricerca centrale----*/
.my-barra-ricerca-centrale{
  margin-top: 40px;
  margin-bottom: 20px;

}

/*---Aggiunto fase 2---*/
.my-label-nascosta-agg{
  display: none;
}

a.my-stile-sezione-fase-2{
  color: #000000;
}

.my-fase2-fantastica-scritta{
  padding-left: 500%;
  padding-top: 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  text-align: center;
  position: absolute;
}

.my-container-elemento{
  /*background-image: url("foto/carousel1.jpg");*/
  position: relative;
  text-align: center;
  color: white;
}

@media screen and (min-width: 992px) { /*desktop*/
  .carousel-caption {
    display: none;
  }

  .my-foto-piatto{
    width: 100%;
  }

  .my-foto-piatto > h3{
    padding-left: 30%;
    padding-top: 10%;
  }

  .my-foto-piatto > h4{
    padding-left: 30%;
  }

  .my-container-elemento{
    /*justify-content: space-around;*/
  }

  .my-stile-contenitore-negozio{
    width: 30%;
  }

  .cookie_message {
      font-size: 1.1vw;
  }

  .cookie_message #cookie_accept {
      margin-left: 2vw;
      height: 5vh;
  }

}

@media screen and (max-width: 992px) { /*smartphone & tablet*/
  .carousel-caption {
    display: block;
  }

  .my-foto-piatto > h3{
    padding-left: 30%;
    padding-top: 8%;
  }

  .my-foto-piatto > h4{
    padding-left: 30%;
  }

  .my-contenitore-descrizione-piatto{
    display: none;
  }

  .my-foto-piatto,
  .my-contenitore-descrizione-piatto{
    width: 100%;
  }

  .my-container-elemento{
    justify-content: center;
  }

  .my-stile-contenitore-negozio{
    width: 40%;
  }
}

@media screen and (max-width: 768px) { /*smartphone & tablet*/

  .my-foto-piatto > h3{
    padding-left: 30%;
    padding-top: 20%;
  }

  .my-foto-piatto > h4{
    padding-left: 30%;
  }

  .my-stile-contenitore-negozio{
    width: 100%;
  }
}
