

.myOggettoNav{
  max-width: 40px;
  height: auto;
  margin-top: 5px;
}

.navbar-brand{
  padding: 0px;
}

.myTitoloNav{
  max-width: 260px;
  height: auto;
  margin-top: 5px;
}

.mio-contenitore-nav{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 5%;
}

.my-elemento-destro-navbar{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.my-barra-ricerca-superiore-cont{
  max-width: 80%;
}

.my-carrello{
  max-width: 20%;
}

.my-barra-ricerca-superiore{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.my-barra-ricerca-superiore-form{
  max-width: 60%;
}

.my-barra-ricerca-superiore-bott{
  max-width: 40%;
}

.my-elemento-navbar{
  width: 30%;
}

/*---presentazione negozio---*/

.my-contenitore-negozio{
  margin-top: 75px;
}

.my-elemento-lista-fornitore{
  height: 150px;
  border: 1px solid grey;
  margin: 1%;
  background-color: lightgrey;
  box-shadow: 2px 3px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.my-spazio-foto{
  width: 40%;
  height: 90%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.my-principali-info-fornitore{
  height: 90%;
  margin: 1%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

}

.my-spazio-foto{
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.my-spazio-foto img{
  max-width: 100%;
  max-height: 100%;
  box-shadow: 2px 3px;
}

.my-figlio-info p{
  margin: 0 0 0px;
}

.my-info-fornitore{
  height: 90%;
  margin: 1%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.my-costo-spedizione{
  align-self: flex-end;
}

.my-is-open{
  align-self: flex-start;
}

.my-costo-spedizione p{
  font-size: 12px;
}

.my-figlio-info-left{
  text-align: left;
}

.my-figlio-info-right{
  text-align: right;
}

/*---accordion---*/
.my-contenitore-listino{
  margin-top: 75px; /*solo se non c'è il negozio*/
}

.big-padding{
  padding: 20px 0px 0px;
}

.panel h4{
  margin: 0;
}

.panel h4 a{
  display: block;
  background: #333;
  color: #fff;
  padding: 15px 20px;
}

.my-contenitore-line-accordion{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.my-parte-line-acc{
  width: 22%;
  text-align: center;
  margin: 0.5%; /*solo se il bottone per aumentare la quantità è a display: null*/
}

.my-contenitore-line-accordion:hover{
  background-color: lightblue;
}

.my-vertically-scrollable{
  overflow-y: scroll;
  max-height: 350px;
}

.my-aumenta-quantita{
  display: none;
}

.my-aggiungi-nuovo-piatto{
  width: 100%;
  text-align: center;
  margin: 0.5%;
}

/*---popover---*/


.popover-body{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  background-color: lightgrey;
  box-shadow: 2px 3px;

  margin: 2px;
}


.my-contenitore-line-popover{
  margin: 1%;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.my-contenitore-last-line-popover{
  margin: 1%;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.my-contenitore-line-popover-checkbox{
  margin: 1% auto;
  width: 80%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.my-checkbox-line{
  margin: 1% auto;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}


.my-label-form-popover{
  width: 40%;
  float: left;
  margin: 1%;
}

.my-form-popover{
  width: 40%;
  float: right;
  margin: 1%;
}

.center{
  width: 40%;
}

.popover{
  z-index: 100;
}

.my-form-popover-pulsante{
  width: 50%;
  float: left;
  margin: 1%;
}

.my-aggiungi-nuovo-sconto{
  color: #000;
  background-color: lightgrey;
  border-color: grey;
}

/*---popover menu*/

.my-contenitore-popover-menu-pietanze{
  overflow-y: scroll;
  height: 150px;
  width: 100%


  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.my-contenitore-popover-menu-classe{
  overflow-y: scroll;
  height: 100px;

}

.my-popover-menu-header{
  text-align: center;
  width: 80%;
}

.my-contenitore-popover-menu-line{
  width: 80%;
  margin: 3% auto;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.my-parte-line-pop{
  width: 45%;
}

.my_menu_nome_piatto{
  float: left;
  text-align: left;
}

.my-popover-menu-quantita-manage{
  float: right;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.my_pop_menu_q{
  width: 30%;
}

.my-parte-line-sx-pop{
  float: left;
}

.my-popover-menu-quantita-label{
  text-align: center;
}

.my-parte-line-dx-pop{
  float: right;
}

/*---Popover sconto---*/

.my-contenitore-pop-sconto{
  margin: 1%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.my-line-pop-sconto{
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.my-label-pop-sconto{
  width: 90%;
  float: left;
}

.my-form-pop-sconto{
  width: 90%;
  float: right;
}

.my-last-line-pop-sconto{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.my-form-popover-pulsante{
  width: 70%;
}

.my-entry-form-pop-sconto{
  margin-top: 2px;
  margin-bottom: 2px;
}

/*---parte 2---*/
.my-colore-scontato-accordion{
  color: red;
}

.my-info-sconto-accordion{
  width: 15%;
}



/*---media query---*/

@media screen and (min-width: 992px) { /*desktop*/

  .my-info-fornitore{
    display: block;
    width: 20%;
  }

  .my-principali-info-fornitore{
      width: 40%;
  }
}

@media screen and (max-width: 992px) { /*smartphone & tablet*/
  .my-riepilogo{
    display: none;
  }

  .my-info-fornitore{
    display: block;
    width: 20%;
  }

  .my-principali-info-fornitore{
      width: 40%;
  }
}

@media screen and (max-width: 768px) { /*smartphone & tablet*/

  .my-info-fornitore{
    width: 40%;
  }

  .my-principali-info-fornitore{
      width: 20%;
  }
}
