.scritta-bianca{
  color: #fff;
}

/*---navbar---*/

.mio-contenitore-nav{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
}


.myTitoloNav{
  max-width: 260px;
  height: auto;
  margin-top: 5px;
}

.navbar-brand{
  padding: 0px;
}

/*---corpo e ordine---*/

.my-corpo{
  margin-top: 20px;
}

.my-corpo h3{
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
}

.btn-primary{
  background-color: #fff !important;
}

.my-elemento-ordine{
  height: 80px;
  margin: 1%;

  /*
  border: 1px solid grey;
  background-color: lightgrey;
  box-shadow: 2px 3px;
  */

  background-image: url("foto/background-rettangolo.png") !important;
  border-color: 25px solid #000;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.my-info-ordine{
  width: 25%;
  height: auto;
  margin: 1%;
}

.my-info-large-ordine{
  width: 60%;
  height: auto;
  margin: 1%;
}

.my-info-sx{
  text-align: left;
}

.my-info-dx{
  text-align: right;
}



.my-elemento-dettaglio-cliente .btn-primary {
    text-align: center;
    color: black;
    text-decoration: underline;
}

.my-elemento-dettaglio-fornitore .btn-primary {
    text-align: center;
    color: black;
    text-decoration: underline;
}

/*---popover---*/

.popover-body{
  min-width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.my-info-tag{
  width: 20%;
  text-align: left;
}

.my-info-dato{
  width: 80%;
  text-align: right;
}

.my-riassunto-scrollabile{
  min-width: 80%;
  margin: 1% auto;
  border: 1px solid grey;
  max-height: 200px;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.my-contenitore-elementi-popover{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.my-contenitore-scontrino-dettaglio{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.my-info-tag-nomeCibo{
  width: 70%;
  text-align: left;
}

.my-info-prezzoCibo{
  width: 30%;
  text-align: right;
}

.my-riassunto-scrollabile hr{
  margin-top: 5px;
  margin-bottom: 5px;
}

.popover{
  z-index: 100;
}

.my-pulsante-successivo{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}

/*fase 2*/
#my-container-id{
  margin-top: 50px;
}

.my-info-tag-fase2{
  max-width: 20%;
  text-align: left;
}

.my-info-dato-fase2{
  min-width: 80%;
  text-align: right;
}

@media screen and (min-width: 992px) { /*desktop*/
  .my-corpo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .my-elemento-ordine{
    width: 30%;
  }
}

@media screen and (max-width: 992px) { /*smartphone & tablet*/
  .my-corpo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .my-elemento-ordine{
    width: 45%;
  }
}

@media screen and (max-width: 768px) { /*smartphone & tablet*/
  .my-corpo{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .my-elemento-ordine{
    width: 100%;
  }
}
