ul{
    -webkit-padding-start: 0px;
}

.scritta-bianca{
  color: #fff;
}

.myOggettoNav{
  max-width: 40px;
  height: auto;
  margin-top: 5px;
}

.navbar-brand{
  padding: 0px;
}

.myTitoloNav{
  max-width: 260px;
  height: auto;
  margin-top: 5px;
}

.mio-contenitore-nav{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 5%;
}

.my-elemento-destro-navbar{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.my-barra-ricerca-superiore-cont{
  max-width: 80%;
}

.my-carrello{
  max-width: 20%;
}

.my-barra-ricerca-superiore{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.my-barra-ricerca-superiore-form{
  max-width: 60%;
}

.my-barra-ricerca-superiore-bott{
  max-width: 40%;
}

.my-elemento-navbar{
  width: 30%;
}

/*---navbar bottom---*/
.mio-contenitore-nav-bottom{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  align-items: center;
  margin: 0 5%;
}

button.btn.btn-default.dropdown-toggle.my-contenitore-dropdown {
    background-color: transparent;
    border: none;
}

/*---nel carrello contenitore---*/

.my-contenitore-corpo-vero{
  margin-top: 70px;
  margin-bottom: 70px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.my-contenitore-esterno-riepilogo{
  width: 80%;
  margin: 1% auto;

  /*
  border: 1% solid grey;
  background-color: lightgrey;
  box-shadow: 2px 3px;
  */

  background-color: none !important;
  background-image: url("foto/background_riepilogo.jpg") !important;
  border-color: 25px solid #000;
  border-radius: 8px;


  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.my-contenitore-negozio{
  width: 80%;
  margin: 1% auto;
}

.my-elemento-lista-fornitore{
  height: 150px;
  border-bottom: 1px solid grey;
  margin: 1%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

}

.my-spazio-foto{
  width: 50%;
  height: 90%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.my-principali-info-fornitore{
  height: 90%;
  margin: 1%;
  width: 20%;
  width: 40%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

}

.my-spazio-foto{
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.my-spazio-foto img{
  max-width: 100%;
  max-height: 100%;
  box-shadow: 2px 3px;
}

.my-figlio-info p{
  margin: 0 0 0px;
}

/*---*/

.my-presentazione-carrello{
  width: 80%;
  margin: 1% auto;
  text-align: left;
}

.my-info-last-revisione{
  width: 80%;
  margin: 1% auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.my-info-spedizione{
  width: 40%;
  margin: 1% auto;
  text-align: left;
  float: left;
}

.my-info-totale{
  width: 40%;
  margin: 1% auto;
  text-align: right;
  float: right;
}

.my-contenitore-riepilogo{
  height: 130px;
  overflow-y: scroll;
  width: 80%;
  margin: 1% auto;
  border: 1% solid grey;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

}

.my-contenitore-line-riepilogo{
  margin: 1% auto;
  width: 90%;
  min-height: 35px;
  text-align: center;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.my-specifico-alimento{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.my-contenitore-line-riepilogo:hover{
  background-color: lightblue;
}


/*---dettagli spedizione*/

.my-contenitore-esterno-dettagli-spedizione{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 80%;
}

.my-elemento-dettaglio{
  height: 160px;
  /*
  border: 1% solid grey;
  background-color: lightgrey;
  box-shadow: 2px 3px;
  */

  background-color: none !important;
  background-image: url("foto/background_riepilogo.jpg") !important;
  border-color: 25px solid #000;
  border-radius: 8px;


  margin:1%;

}

.my-titolo-specifiche{
  margin: 1%;
  align-self: flex-start;
}

.my-form-specifico{
  margin: 1%;
  align-self: flex-end;
}

/*---aggiunto fase 2---*/

.my-non-mostrare-agg{
  display: none;
}

legend{
  font-size: 18px;
}

.my-lista-agg>li{
  list-style-type: none;
}

.my-lista-agg>li>label{
  font-weight: 400;
}

.my-lista-agg{
  padding-left: 0;
}

.my-text-form-agg{
  max-width: 98%;
}

/*---media query---*/

@media screen and (min-width: 768px) { /*desktop*/
  .my-inutile-cell{
    display: block;
  }

  .mio-contenitore-nav-bottom{
    justify-content: space-between;
  }

  .elem-bottom-nav{
    margin-top: 5px;
  }

  .elem-bottom-nav > p {
    margin-top: 5px;
  }

  .my-contenitore-specifica-indirizzo,
  .my-contenitore-specifica-ora,
  .my-contenitore-specifica-pagamento{
    width: 30%;
  }

  .my-contenitore-casa-fase2{
    display: none;
  }
}

@media screen and (max-width: 768px) { /*smartphone & tablet*/
  .my-inutile-cell{
    display: none;
  }

  .mio-contenitore-nav-bottom{
    justify-content: center;
  }

  .elem-bottom-nav{
    margin-top: 1%;
  }

  .elem-bottom-nav > p {
    margin-top: 1%;
  }

  .my-contenitore-specifica-indirizzo,
  .my-contenitore-specifica-ora,
  .my-contenitore-specifica-pagamento{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .my-contenitore-casa-fase2{
    display: none;
  }


  @media screen and (max-width: 768px) {

    .my-contenitore-casa-fase2{
      display: block;
    }

    .myTitoloNav{
      display: none !important;
    }

    .grande-fdp{
      display: none;
    }
  }

}
