/*---navbar---*/

.mio-contenitore-nav{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
}


.myTitoloNav{
  max-width: 260px;
  height: auto;
  margin-top: 5px;
}

.navbar-brand{
  padding: 0px;
}

/*---foto e form---*/

.my-corpo{
  margin-top: 100px;
}

.my-contenitore{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.my-elemento-form{
  max-width: 100%;
}

.my-contenitore-immagine-profilo{
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-immagine-profilo{
  margin: 1%;
}

form input{
  text-align: center;
  margin: 5%;
  border-radius: 5px;
}

/*---Aggiunto fase 2---*/
.my-label-nascoste-agg{
  display: none;
}




@media screen and (min-width: 768px) { /*desktop*/
  .my-contenitore-immagine-profilo{
    width:  500px;
    height: 330px;
  }

  .my-immagine-profilo{
    max-width:  450px;
    max-height: 300px;
  }

  .my-form-register{
    margin-top: 2%;
  }

}

@media screen and (max-width: 768px) { /*smartphone*/
  .my-contenitore-immagine-profilo{
    width:  400px;
    height: 250px;
  }

  .my-immagine-profilo{
    max-width:  350px;
    max-height: 220px;
  }

  .my-form-register{
    margin-top: 10%;
  }

}
