.my-nav-portabottone .btn-default {
    background-color: transparent;
}

.my-nav-portabottone .btn-default:hover {
    background-color: transparent;
}

.my-contenitore-casa-fase2{
  margin-left: auto;
  margin-right: auto;
}


.my-nav-portabottone .btn {
    border: none;
}

.colonna-azione{
  text-align: left;
}

.myOggettoNav{
  max-width: 40px;
  height: auto;
  margin-top: 5px;
}

.navbar-brand{
  padding: 0px;
}

.myTitoloNav{
  max-width: 260px;
  height: auto;
  margin-top: 5px;
}

.mio-contenitore-nav{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 5%;
}

.my-elemento-destro-navbar{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.my-barra-ricerca-superiore-cont{
  max-width: 80%;
}

.my-carrello{
  max-width: 20%;
}

.my-barra-ricerca-superiore{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.my-barra-ricerca-superiore-form{
  max-width: 60%;
}

.my-barra-ricerca-superiore-bott{
  max-width: 40%;
}

.my-elemento-navbar{
  width: 30%;
}

/*---navbar bottom---*/
.mio-contenitore-nav-bottom{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.elem-bottom-nav{
  margin-top: 5px;
}

.elem-bottom-nav > p {
  margin-top: 5px;
}

/*---presentazione negozio---*/

.my-contenitore-negozio{
  margin-top: 100px;
}

.my-elemento-lista-fornitore{
  height: 150px;
  border: 1px solid grey;
  margin: 1%;
  background-color: lightgrey;
  box-shadow: 2px 3px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.my-spazio-foto{
  width: 40%;
  height: 90%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.my-principali-info-fornitore{
  height: 90%;
  margin: 1%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

}

.my-spazio-foto{
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.my-spazio-foto img{
  max-width: 100%;
  max-height: 100%;
  box-shadow: 2px 3px;
}

.my-figlio-info p{
  margin: 0 0 0px;
}

.my-info-fornitore{
  height: 90%;
  margin: 1%;
  /*margin: 5%;*/

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.my-costo-spedizione{
  align-self: flex-end;
}

.my-is-open{
  align-self: flex-start;
}

.my-costo-spedizione p{
  font-size: 12px;
}

.my-figlio-info-left{
  text-align: left;
}

.my-figlio-info-right{
  text-align: right;
}

/*---riepilogo---*/

.my-specifico-alimento,
.my-prezzo-alimento{
  color: #fff;
}


.my-riepilogo{
  /*position: fixed;
  margin-top: 75px;


  border: 1px solid grey;
  background-color: lightgrey;
  box-shadow: 2px 3px;

  */

  background-color: none !important;
  background-image: url("foto/background_riepilogo.jpg") !important;
  border-color: #fff;
}

.my-riepilogo > h4{
  color: #fff;
}

.my-contenitore-line-riepilogo{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.my-specifico-alimento{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.my-contenitore-line-riepilogo{
  margin-bottom: 0.5%;
}

/*---accordion---*/
.my-contenitore-listino{
  /*margin-top: 75px; solo se non c'è il negozio*/
  width: 65%;
}

/*
.big-padding{
  padding: 100px 0px;
}
*/
.panel h4{
  margin: 0;
}

.panel h4 a{
  display: block;
  background: #333;
  color: #fff;
  padding: 15px 20px;
}

.category-line {

}

.my-contenitore-line-accordion{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.my-parte-line-acc{
  max-width: 30%;
  text-align: center;
}

.my-contenitore-line-accordion:hover{
  background-color: lightblue;
}

/*---fase due---*/
.my-contenitore-centrale-fase-2{
  margin: 75px 3px 70px 3px;
  display: flex;
  justify-content: space-between;
}

.my-riepilogo{

  background-color: lightgrey;
  box-shadow: 2px 3px;
  height: 300px;
  border: 1px solid grey;


}

.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.scrollbar-night-fade::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.my-contenitore-riepilogo-scrollable-fase-2{
  width: 100%;
  overflow-y: auto;
  max-height: 200px;
}

.my-nome-specifico-alimento-accordion{
  width: 22%;
  text-align: center;
}

.my-sconto-colore-prezzo{
  color: red;
}

#my-fase2-ul-style{
  list-style-type: none  !important;
  margin: 0  !important;
  padding: 0  !important;
  border-color: #fff;
}

.my-fase2-accordion-line{
  margin: 1%;
}

.my-contenitore-line-accordion{
  margin: 1% 2%;
}

.my-fase2-container-line-food,
.my-contenitore-riepilogo-scrollable-fase-2{
  -webkit-padding-start: 0px;
}

/*-----cliente -------*/

.my-contenitore-listino-cliente{
  width: 65%;
}

/*-----venditore -------*/
.my-contenitore-listino-venditore{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.my-aggiungi-nuovo-piatto{
  width: 100%;
  text-align: center;
  margin: 0.5%;
}



/*---popover---*/


.popover-body{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  background-color: lightgrey;
  box-shadow: 2px 3px;

  margin: 2px;
}


.my-contenitore-line-popover{
  margin: 1%;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.my-contenitore-last-line-popover{
  margin: 1%;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.my-label-form-popover{
  width: 40%;
  float: left;
  margin: 1%;
}

.my-form-popover{
  width: 40%;
  float: right;
  margin: 1%;
}

.center{
  width: 40%;
}

.popover{
  z-index: 100;
}

.my-form-popover-pulsante{
  width: 50%;
  float: left;
  margin: 1%;
}

.my-popover-body-modifica{
  max-width: 350px;
  min-width: 300px;
  max-height: 200px;
  min-height: 150px;
}

.my-elemento-left{
  float: left;
  max-width: 40%;
}

.my-elemento-right{
  float: right;
  max-width: 50%;
}

.my-form-popover-modifica-pulsante{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  align-self: center;

}

.my-aggiungi-nuovo-sconto{
  color: #000 ;
  background-color: lightgrey ;
  border-color: grey;
}

.my-last-line-pop-sconto{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}


.my-contenitore-prezzoSconto-alimento-accordion{
  width: 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.my-prezzo-alimento-accordion{
  text-align: left;
}

.my-sconto-alimento-accordion{
  text-align: right;
}

.my-fase2-figa-roscia{
  color: red;
}


/*---media query---*/
.my-fase2-divisore-boh{
  margin-top: 5px;
  margin-bottom: 5px;

}

.my-divi-f2{
  margin: 5px 0px;
}

.my-lischifo{
  list-style-type: none !important;

}


@media screen and (min-width: 992px) { /*desktop*/
  .my-sidebar-aside-container{
    float: left;
    width: 20%;
  }

  .my-riepilogo{
    display: block;
    width: 20%;
    margin-bottom: 0px;
  position: fixed;
  }

  .my-contenitore-listino{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }

  .my-contenitore-centrale-fase-2{
    justify-content: space-between;
    flex-direction: row;
  }

  .my-info-fornitore{
    display: block;
    width: 20%;
  }

  .my-principali-info-fornitore{
      width: 40%;
  }


  .my-contenitore-prezzoSconto-alimento-accordion{
    width: 15%;
  }

  .my-contenitore-casa-fase2{
    display: none;
  }

}

@media screen and (max-width: 992px) { /*smartphone & tablet*/

  .my-sidebar-aside-container{
    margin-bottom: 30px;
    width: 60%;
  }

  .my-info-fornitore{
    display: block;
    width: 20%;
  }

  .my-principali-info-fornitore{
      width: 40%;
  }

  .my-riepilogo{
    display: block;
    width: 100%;

  }

  .my-contenitore-listino{
    width: 90%;

  }

  .my-contenitore-centrale-fase-2{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .my-contenitore-prezzoSconto-alimento-accordion{
    width: 20%;
  }

  .my-contenitore-casa-fase2{
    display: none;
  }
}

@media screen and (max-width: 768px) { /*smartphone & tablet*/


  .my-sidebar-aside-container{
    margin-bottom: 30px;
    width: 60%;
  }

  .my-info-fornitore{
    width: 40%;

  }

  .my-principali-info-fornitore{
      width: 20%;
  }

  .my-riepilogo{
    display: block;
    width: 100%;
  }

  .my-contenitore-listino{
    width: 90%;

  }

  .my-contenitore-centrale-fase-2{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .my-contenitore-prezzoSconto-alimento-accordion{
    width: 30%;
  }

  .my-contenitore-casa-fase2{
    display: none;
  }
}

@media screen and (max-width: 550px) { /*smartphone & tablet*/


  .my-sidebar-aside-container{
    margin-bottom: 30px;
    width: 60%;
  }

  .my-info-fornitore{
    width: 40%;

  }

  .my-principali-info-fornitore{
      width: 20%;
  }

  .my-riepilogo{
    display: block;
    width: 100%;
  }

  .my-contenitore-listino{
    width: 90%;

  }

  .my-contenitore-centrale-fase-2{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .my-contenitore-prezzoSconto-alimento-accordion{
    width: 30%;
  }


  .mio-contenitore-nav-bottom{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .elem-bottom-nav{
    margin-left: 30%;
    margin-right: 30%;
  }

  .my-bottom-navbar-fase3{
    margin-left: auto;
    margin-right: auto;
  }

  .myTitoloNav{
    display: none !important;
  }

  .my-contenitore-casa-fase2{
    display: block;
  }
}
