.scritta-bianca{
  color: #fff;
}



/*---navbar---*/

.mio-contenitore-nav{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
}


.myTitoloNav{
  max-width: 260px;
  height: auto;
  margin-top: 5px;
}

.navbar-brand{
  padding: 0px;
}

/*---foto e form---*/

.my-corpo{
  margin-top: 100px;
}

.my-contenitore{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-quadretto{
  width: 60%;
  margin-left: auto;
  margin-right: auto;

  /*
  border: 1px solid grey;
  background-color: lightgrey;
  box-shadow: 2px 3px;
  */

  background-image: url("foto/background-rettangolo.png") !important;
  border-color: 25px solid #000;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-line-quadretto{
  width: 100%;
  margin: 1%;

  padding: 0% 2%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.my-label-prezzo{
  width: 40%;
  float: left;
  text-align: left;
}

.my-val-stato{
  width: 40%;
  float: right;
  text-align: right;
}




@media screen and (min-width: 768px) { /*desktop*/


}

@media screen and (max-width: 768px) { /*smartphone*/


}

@media screen and (max-width: 325px) { /*smartphone*/

  .my-label-prezzo{
    width: 800%;
    float: left;
    text-align: left;
  }

  .my-val-stato{
    width: 80%;
    float: right;
    text-align: right;
  }
}
