<footer class="main-footer">
  <div class="container-fluid">
    <div class="back-image">
      <div class="row links center">

        <div class="col-xs-12 col-md-4 center">
          <div class="footer-group-title">
            <h2>Su di noi</h2>
          </div>
          <div class="footer-group-content">
            <ul class="footer-links">
              <li><a class="link" href="#">Chi siamo</a></li>
              <li><a class="link" href="#">Dove siamo</a></li>
              <li><a class="link" href="#">Orari di apertura</a></li>
            </ul>
          </div>
        </div>

        <div class="col-xs-12 col-md-4 center">
          <div class="footer-group-title">
            <h2>Link utili</h2>
          </div>
          <div class="footer-group-content">
            <ul class="footer-links">
              <li><a class="link" href="#">Domande frequenti</a></li>
              <li><a class="link" href="#">Contattaci</a></li>
            </ul>
          </div>
        </div>

        <div class="col-xs-12 col-md-4 center">
          <div class="footer-group-title">
            <h2>I nostri social</h2>
          </div>
          <div id="social" class="footer-group-content">

            <ul class="footer-links">
              <li><a class="link" href="#">© 2018 Cesegnam TUTTI i diritti riservati.</a></li>
              <li><a class="link" href="#">Termini e condizioni</a></li>
              <li><a class="link" href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </div>
</footer>
