.main-footer * {
  color: black !important;
}

.main-footer {
  margin-top: 1px !important;
}

.main-footer > .container-fluid {
  position: relative;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  border-top: 2px solid #006089;
  border-radius: 7%;
}

.main-footer h2 {
  font-weight: bold;
  font-size: 6vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-footer ul {
  list-style-type: none;
}

footer a {
  text-decoration: underline;
  font-size: 3.5vw;
}

.main-footer #social {
  font-size: 100%;
  border-radius: 50%;
}

.main-footer .fa {
  text-decoration: none;
  font-size: 8vw;
  cursor: pointer;
}

.main-footer .center {
  text-align: center;
}

.main-footer a[class="link"], .copy {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 450 !important;
}

.main-footer a:hover {
  font-size: 1.05em;
}

.main-footer .row {
  position: relative !important;
  width: 100% !important;
}

.back-image .row {
  padding-top: 0 !important;
}

.main-footer .links, .main-footer .copyrights {
  padding-top: 15px;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.main-footer .footer-group-content, .main-footer .footer-links {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.main-footer .links {
  margin: 0 !important;
}

.main-footer .copyrights {
  font-size: 4vw;
  padding-bottom: 10px;
  margin-top: 10px;
}

@media screen and (min-width: 400px) {
  .main-footer h2 {
    font-size: 4.5vw;
  }

  footer a, .main-footer .copyrights {
    font-size: 3vw;
  }

  .main-footer .fa {
    text-decoration: none;
    font-size: 6.5vw;
  }
}

@media screen and (min-width: 576px) {
  .main-footer h2 {
    font-size: 3.2vw;
  }

  footer a, .main-footer .copyrights {
    font-size: 2.2vw;
  }

  .main-footer .fa {
    text-decoration: none;
    font-size: 5.5vw;
  }
}

@media screen and (min-width: 768px) {
  .main-footer h2 {
    font-size: 2.5vw;
  }

  footer a, .main-footer .copyrights {
    font-size: 2vw;
  }

  .main-footer .fa {
    text-decoration: none;
    font-size: 3.5vw;
  }

  .back-image {
    padding-top: 1px;
    padding-bottom: 1px;
  }
}

@media screen and (min-width: 992px) {
  .main-footer h2 {
    font-size: 1.7vw;
  }

  footer a, .main-footer .copyrights {
    font-size: 1.5vw;
  }

  .main-footer .fa {
    text-decoration: none;
    font-size: 2.5vw;
  }
}

@media screen and (min-width: 1200px) {
  .main-footer h2 {
    font-size: 1.5vw;
  }

  footer a, .main-footer .copyrights {
    font-size: 1.2vw;
  }

  .main-footer .fa {
    text-decoration: none;
    font-size: 2.2vw;
  }
}
